/* File for all CSS that is to be used for the main file. */



/*

Headings

*/



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;   
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}


body, html {
    font-size: 20px;
    height: 100%;
    width: 100%;
}


h1 {
    font-size: 250%;
    margin-bottom: 0.25em;
    float: left;
}


h2 {
    font-size: 175%;
}

.header-wrapper {
    background-color: #fff;
    width: 100%;
    height: auto;
    z-index: 10;
    box-shadow: 0 10px 50px #000;
    position: relative;
}



/*

Text blocks 

*/



p {
    font-size: 80%;
    line-height: 1.7;
    word-spacing: 0.075em;
}



/*

Containers

*/



.box { /* standard container used for most things */


    overflow: hidden;
    display: block;
    margin-left: 50%;
    width: 1280px;
    transform: translate(-50%);

}

.text-box {
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-front-page {
    width: auto;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/imgs/download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 75px;
    box-shadow: 0 -15px 40px black inset;
}

.container {
    float: right;
    width: auto;    
}



/*

Spacing 

*/



.services {
    padding-top: 50px;
}



/*

Text Formatting

*/



.link {

    float: right;
    margin: 0 40px;
    margin-top: 1.25em;
    font-size: 110%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    transition: border 0.3s;
    padding-bottom: 3px;
}

.blue {
    color: blue;
}



/*

Icons

*/



.icon {

    float: left;
    background-image: url('/imgs/icons/search.svg');
    width: 35px;
    height: 35px;
    border-bottom: none;
    transition: transform 0.3s;
    margin-left: 30px;
}


.usr-pic {
    height: 56px;
    width: 56px;
    float: right;
    margin-top: 0.8em;
    overflow: hidden;
    background-image: url('/imgs/icons/user-avatar.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}



/*

Search box

*/



.search-box {
    /* Box around the input section */
    height: 100%;
    float: left;
    width: 300px;
}

.search-box input {
    /* Input box */
    padding: 10px;
    width: 100%;
    transition: all 0.3s;   
}

.search-wrapper {
    margin-left: 50px;
    float: left;
    margin-top: 1.25em;
}



/* 

Interactive page effects

*/



.link:hover {
    border-bottom: 1px solid black;

}


.icon:hover {
    border-bottom: none;
    transform: scale(1.25);
}



/*

Classes for use with JS 

*/


