/* File for all CSS that is to be used for the main file. */



/*

Buttons

*/



.btn {
    height: auto;
    background-color: #2c45d1;  
    border-radius: 15px;
    padding: 20px;
    color: white;
    transition: all 0.3s;
    border: none;
    font-size: 95%;

    
}

.btn-large {
    padding: 25px 50px;
    box-shadow: 5px 5px 15px black;
}

.btn:hover {

    transform: scale(1.125);
}




/*

Containers

*/



.box { /* standard container used for most things */


    overflow: hidden;
    display: block;
    margin-left: 50%;
    width: 1280px;
    transform: translate(-50%);

}

.container {

    display: flex;  
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    align-items: baseline;
}

.container h1, .link, .search-box {

    padding-left: 25px;
    padding-right: 25px;
    margin-right: 30px;
}

.container .btn {

    position: absolute;
    bottom: 120px;
}

.container.col { /* turn a container into a column */

    flex-direction: column;
    justify-content: flex-start;
}



/*

Headings

*/



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;   
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}


body, html {
    font-size: 20px;
    height: 100%;
    width: 100%;
}


h1 {
    font-size: 250%;
}


h2 {
    font-size: 175%;
    padding-bottom: 20px;
}

.header-wrapper {
    background-color: #fff;
    width: 100%;
    height: auto;
    z-index: 10;
    padding: 10px 0;
    box-shadow: 0 10px 50px #000;
    position: relative;
}



/*

Icons

*/



.icon {

    float: left;
    background-image: url('/imgs/icons/search.svg');
    width: 35px;
    height: 35px;
    border-bottom: none;
    transition: transform 0.3s;
    margin-right: 5px;
}



/*

Images

*/



.img-front-page {
    position: relative; 
    width: auto;
    height: 550px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/imgs/download.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 75px;
    box-shadow: 0 -15px 40px black inset;
}



/*

Input boxes

*/



.search-box {
    /* Input box */
    padding: 10px;
    width: 250px;
    transition: all 0.3s;   
}

.input-box {

    padding: 15px 0;

}

.input-box p {
    padding: 0 25px 0 0;
    line-height: 2.0;
}

.input-box input, textarea {
    width: 100%;
    padding: 7.5px;

}

textarea {
    height: 150px;
}



/* 

Interactive page effects

*/



.link:hover {
    border-bottom: 1px solid black;

}


.icon:hover {
    border-bottom: none;
    transform: scale(1.2);
}



/*

Miscellaneous Effects

*/



.top {
    margin-top: 125px;
}


/*

Spacing 

*/



.services {
    padding-top: 50px;
}



/*

Text blocks 

*/



.paragraph {
    font-size: 80%;
    line-height: 1.7;
    word-spacing: 0.075em;
}


.line {
    padding: 0 10px;
}


/*

Text Formatting

*/



.link {

    font-size: 110%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    transition: border 0.3s;
    padding-bottom: 3px;
}

.blue {
    color: blue;
}

